@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root{
  --color-hd1: #ec8585;
  --color-hd2: #97e0be;
  --color-bg: #ffe2a4;
  --color-main: #fffbe7;
  --color-menu: #f3c3d3;
  --color-font: #222;
}
*{margin: 0; padding: 0;}
body{
  background-color: var(--color-bg);
  font-family: 'GongGothicMedium';
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}
header{
  height: 80px;
  border: 3px solid #222;
  border-bottom: none;
}
main{
  height: calc(100vh - 123px);
}